.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
}