include ../components/head/head.pug
include ../components/content/content.pug
include ../components/error-block/errorBlock.pug
doctype html
html(lang="ru")
    +head('505')
        link(rel="stylesheet", href="../index.css")
    +content
        +error-block('505', 'Уже чиним')