include ../components/content/content.pug
include ../components/head/head.pug
include ../components/link/link.pug
include ../components/button/button.pug
doctype html
html(lang="ru")
    +head('Чат')
        link(rel="stylesheet", href="../index.css")
    +content
        p.chat Чат будет реализован в следующем спринте