include ../components/content/content.pug
include ../components/head/head.pug
include ../components/form/form.pug
include ../components/link/link.pug
include ../components/button/button.pug
include ../components/textInput/textInput.pug
doctype html
html(lang="ru")
    +head('Чат')
        link(rel="stylesheet", href="../index.css")
    +content
        +form('Регистрация')
            +textInput('Почта','email', 'email', 'form__text-input-wrapper')
            +textInput('Логин','text', 'login', 'form__text-input-wrapper')
            +textInput('Имя','text', 'first_name', 'form__text-input-wrapper')
            +textInput('Фамилия','text', 'second_name', 'form__text-input-wrapper')
            +textInput('Телефон','phone', 'phone', 'form__text-input-wrapper')
            +textInput('Пароль','password', 'password', 'form__text-input-wrapper')
            +textInput('Пароль (ещё раз)','password', 'password2', 'form__text-input-wrapper')
            +button('Зарегистрироваться')(class='form__button')
            +link('./login.pug', 'Войти')(class='form__link')