p.stub Роутинг будет реализован в следующем спринте
    a(href='./sign-up/signUp.html') Регистрация
    a(href='./login/login.html') Логин
    a(href='./profile/profile.html') Профиль
    a(href='./chat/chat.html') Чат
    a(href='./error/404.html') 404
    a(href='./error/505.html') 505
