.form-password {
    box-sizing: border-box;
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 30px 0;
    color: #1E1E1E;
}

.form-password__title {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    margin: 0;
}

.form-password__text-input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--main-color);
    position: relative;
    font-size: 14px;
}

.form-password__text-input:focus {
    outline: 1px solid var(--main-color);
}

.form-password__label {
    color: grey;
    font-size: 11px;
}

.form-password__text-input_error {
    border-bottom: 1px solid red;
}

.form-password__text-input_error:focus {
    outline: 1px solid red;
}

.form-password__text-input-wrapper {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.form-password__text-input-wrapper:last-of-type {
    margin-bottom: 30px;
}

.form-password__error {
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    font-size: 12px;
    color: red;
}

.form-password__error_active {
    visibility: visible;
}

.form-password__button {
    margin-top: auto;
}

.form-password__link {
    margin: 14px auto 0 auto;
}