include components/content/content.pug
include components/head/head.pug
doctype html
html(lang="ru")
  +head('Чат')
    link(rel="stylesheet", href="index.css")
  +content
    ul
      li
        a(href="./pages/login.pug") Логин
      li
        a(href="./pages/sign-up.pug") Регистрация
      li
        a(href="./pages/profile.pug") Настройки профиля
      li
        a(href="./pages/chat.pug") Чат
      li
        a(href="./pages/404.pug") 404
      li
        a(href="./pages/505.pug") 505
    script(src="index.js" type="module")