.add-user-popup {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.add-user-popup_opened {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-user-popup__popup {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    position: relative;
}

.add-user-popup__button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.add-user-popup__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: black;
}

.add-user-popup__title {
    text-align: center;
}