div.main-chat
    .main-chat__items-wrapper
        .main-chat__search
            a.main-chat__profile-link(href="./../profile/profile.html") Профиль >
            input.main-chat__search-input(placeholder='Поиск')
        .main-chat__chat-items-wrapper
            . 
                !{chatItem}
    .main-chat__chat-wrapper
        .main-chat__title-wrapper
            .main-chat__avatar
            h1.main-chat__title Mike
        .main-chat__chat
            p.main-chat__message Hello!
        .main-chat__form-wrapper
            . 
                !{chatForm}